<h1 class="display-5 mb-4">
	My Books
</h1>
<% @user.csvs.each_with_index do |csv, index| %>
	<div class="fw-bold">
		<%= index %>  <%= csv.file.blob.filename %>
		<%= link_to("View CSV", csv_path(csv)) %>
		</div><br>
	<hr>
<% end %>

