<% @user.csvs.each do |csv| %>
	<%= csv.file.blob.filename %>
<% end %>


<div class="container m-4 border ">
	<table class="table">
	  <tbody>
	  	<% @parsed_csv.each_with_index do | row, index |  %>
	    <tr>
	      <th scope="row"><%= index unless index == 0 %></th>
		      <% row.each do | r | %>
		      	<!-- use first index as table header -->
		      	<% if index == 0  %>
		      		<th scope="col"><%= r  %></th>
		      	<% end %>
		      	<!-- skip first first row as already used as header-->
		      	<% next if index == 0 %>
		      	<td ><%= r  %></td>
		      <% end %>
	      <% end %>
	    </tr>
	  </tbody>
	</table>
</div>